.product {
  margin: 5% 0;
  &_flex {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 20px;
    padding: 5% 0;
  }
  &_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_card {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
    img {
      width: 100%;
    }
  }
}
