.showcase {
  margin: 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
  }
  &_right {
    width: 60%;
  }
}
