.new {
  margin: 5% 0;
  &_title {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &_img {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
  }
  &_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &_input {
    margin: 3% 0;
    form {
      input {
        padding: 10px 70px 10px 20px;
        margin: 3% 0;
        border: 1px solid #ebebeb;
      }
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
